<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Yogesh Nagarur - Full stack developer">
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="stylesheets/application.css" rel='stylesheet' type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:700|PT+Serif:400|PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
  </head>

  <body class="{{ page.keyword }}">

    <section id="container">
      {{ content }}
    </section>

  </body>
</html>

